
h1 {
  font-size:32px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  }

h2 {
  font-size:16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #00004d;
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  }

p {
  font-size:16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  }

a.ex1 {
  color: blue;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 40px;
  border-style: solid;
  position: relative;
  top: 60px;
  right: -55px;
  margin-right: 215px;
  margin-left: 120px;
}

a.ex1:hover, a.ex1:active {
  color: blue;
  background: #cedaed;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 40px;
  border-style: solid;
  position: relative;
  top: 60px;
  right: -55px;
  margin-right: 215px;
  margin-left: 120px;
}

a.ex2 {
  color: #158a20;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 40px;
  border-style: solid;
  position: relative;
  top: 60px;
  right: -33px;
  margin-right: 210px;
  margin-left: 100px;
  
}

a.ex2:hover, a.ex2:active {
  color: #158a20;
  background: #93db9b;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 40px;
  border-style: solid;
  position: relative;
  top: 60px;
  right: -33px;
  margin-right: 210px;
  margin-left: 100px;
}

a.ex3 {
  color: #eb7a34;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 40px;
  border-style: solid;
  position: relative;
  top: 60px;
  right: -10px;
  margin-right: 195px;
  margin-left: 105px;
}

a.ex3:hover, a.ex3:active {
  color: #eb7a34;
  background: #f2b672;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 40px;
  border-style: solid;
  position: relative;
  top: 60px;
  right: -10px;
  margin-right: 195px;
  margin-left: 105px;
}

a.watch {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 35px;
  right: -600px;
  color: #0099ff;
}
  

div {
   background-color: #bfbfbf;
   height: 150px;
   width: 1500px;
   position: relative;
   margin-right: 20px;
   margin-left: 5px;

 
  
